<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">About</li>
    </ol>
</nav>
<br>
<h1 class="ml-5">Hakkımda</h1>
<img src="images/merida.jpg" class="rounded float-left mx-4" alt="merida">
<p class="mb-5">
    Ben İrem Köse. 1995 Kadıköy doğumluyum. ilkokul ve lise eğitimimi İstanbul'da tamamladım.

</p>
<p class="mb-5"> Kocaeli Üniversitesi Elektronik ve Haberleşme Mühendisliğini bitirdim. </p>
<p class="mb-5"> Aynı bölümde Yüksek Lisans eğitimime devam ediyorum.</p>
<p class="mb-5">
    Hobilerim kitap okumak, bilgisayar oyunu oynamak ve penye ip ile
    sepet benzeri tasarımlar yapmak
</p>
